@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    height: 100%;
  }
  to {
    transform: translateX(0);
    height: 100%;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    position: fixed;
    height: 100%;
  }
  to {
    transform: translateX(-100%);
    position: fixed;
    display: none;
    height: 100%;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-25px);
    opacity: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  --tw-inset-shadow-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  &:where(.dark, .dark *) {
    -webkit-text-fill-color: var(--color-stone-100);
  }
}

::-webkit-scrollbar {
  width: calc(var(--spacing) * 1.5);
  height: calc(var(--spacing) * 1.5);
}

::-webkit-scrollbar-thumb {
  background: var(--color-stone-500);
  border-radius: var(--radius-lg);
}

@theme {
  --font-inter: 'Inter', serif;
  --animate-slide-out-left: slideOutLeft 0.65s forwards;
  --animate-slide-in-right: slideInRight 0.65s forwards;
  --animate-slide-out-top: slideOutTop 0.65s ease;
  --animate-slide-in-bottom: slideInBottom 0.65s ease;
}
